streamlit>=1.51.0 # mine is 1.57.0
pandas
pdfplumber
huggingface_hub
python-dotenv>=1.0.0

#this is wht last worked for me :)
# python 3.13
torch==2.7.0 
transformers==4.51.3 
accelerate==1.6.0 
tokenizers==0.21.1 
peft==0.15.2 
bitsandbytes==0.49.2